{% extends "base.html" %}

{% block content %}
	<h2>{{ author.name }}</h2>
	{% for book in author.books.all %}
		{% if book.review %}
			<div class="book">
				<h3><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h3>
				{% if book.is_favorite %}<p class="highlight">favorite</p>{% endif %}
				<p>{{ book.review|linebreaks }}</p>
				<p class="meta">
					Reviewed on <strong>{{ book.date_reviewed|date:"-Y-M-d" }}</strong>
					{% if book.reviewed_by %}
						by <strong>{{ book.reviewed_by.get_full_name|default:book.reviewed_by.username }}</strong>
					{% endif %}
				</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
