<div class="book">
	<h3><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h3>
	<p>By {% for author in book.authors.all %}<a href="{% url 'book-detail' author.pk %}">{{ author.name }}</a>{% endfor %}</p>
	{% if book.is_favorite %}<p class="highlight">favorite</p>{% endif %}
	<p>{{ book.review|linebreaks }}</p>
	<p class="meta">
		Reviewed on <strong>{{ book.date_reviewed|date:"-Y-M-d"}}</strong>
		{% if book.reviewed_by %}
			by <strong>{{ book.reviewed_by.get_full_name|default:book.reviewed_by.username }}</strong>
		{% endif %}
	</p>
</div>
